.password-button-size {
    width: 12.5%;
    height: 90%;
}
.custom-button-separator{
    width: 3.33%;
}
.password-dialog{
    position: fixed;
    background-color: #1F1F1F;
    top: 25%;
    left: 30%;
    width: 40%;
    height: 45%;
    z-index: 9;
    color: white;
}
.titles-row{
    height: 33%;
}
.password-buttons-row{
    height: 67%;
    background-color: #1F1F1F;
}
.password-style{
    width: 90%;
    height: 20%;
}
.buttons-style{
    width: 90%;
    height: 20%;
}
.password-font-size{
    font-size: medium;
}
.password-dialog-not-confirmation-style{
    top: 25%;
    left: 30%;
    width: 40%;
    height: 30%;
}
.password-not-confirmation-style{
    width: 90%;
    height: 27.5%;
}
.btn-not-confirmation-style{
    width: 90%;
    height: 30%;
}
.password{
    width: 85%;
}
.repeat-password{
    width: 85%;
}
.show-password{
    width: 15%;
}
@media (min-width: 0px) and (max-width: 239.98px) {
    .password-dialog{
        top: 20%;
        height: 60%;
    }
    .password-dialog-not-confirmation-style{
        height: 40%;
    }
    .password-font-size{
        font-size: 0.25rem;
    }
}
@media (min-width: 240px) and (max-width: 359.98px) {
    .password-dialog{
        top: 20%;
        height: 60%;
    }
    .password-dialog-not-confirmation-style{
        height: 40%;
    }
    .password-font-size{
        font-size: 0.25rem;
    }
}
@media (min-width: 360px) and (max-width: 479.98px) {
    .password-font-size{
        font-size: 0.35rem;
    }
}
@media (min-width: 480px) and (max-width: 575.98px) {
    .password-font-size{
        font-size: 0.45rem;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) {
    .password-font-size{
        font-size: 0.55rem;
    }
}
@media (min-width: 768px) and (max-width: 991.98px) {
    .password-font-size{
        font-size: 0.65rem;
    }
}